body {
    margin: 0;
    padding: 0;
    /* padding-top: 1%; */
    /* overflow: hidden; */
    /* background-color: rgb(193, 203, 212); */
    /* font-family: 'Belanosima', sans-serif; */
    font-family: 'Ysabeau Infant', sans-serif;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.float-right {
    float: right;
}

.btn {
    cursor: pointer;
}

button {
    border: none;
    font-weight: bold;
}

#newgrpbtnc {
    height: 100%;
    position: absolute;
    top:33%;
    right: 20%;
    display: inline-block;
}

#newgrpbtn {
    /* background-color: rgb(28, 85, 135); */
    background-color: #2A3942;
    padding: 5px;
    color: white;
    cursor: pointer;
}

#main {
    width: auto;
    padding-top: 2vh;
    background-color: #111B21;
    overflow-x: auto;
}

#left-header, #right-header {
    /* border: 2px solid darkgoldenrod; */
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    color: white;
    /* background-color: #202C33; */
}

#right-header {
  /* background-color: rgb(176, 176, 222); */
  /* background-color: rgb(90, 149, 201); */
  background-color: #202C33;
  color: white;
  cursor: pointer;
}

#right-header:hover {
  /* background-color: rgb(116, 181, 235); */
  background-color: #2A3942;
}

#left {
  width: 30vw;
  height: 98vh;
  position: fixed;
  left: 0;
  overflow-y: auto;
  background-color: #111B21;
  border-right: 1px solid #2d3b43;
}

#groups-c {
    width: 100%;
    position: absolute;
    top: 10%;
}

.group-element {
    width: 100%;
    margin: auto;
    background-color: #111B21;
    color: white;
    position: relative;
    padding: 10px;
    padding-left: 30px;
    /* text-align: center; */
    cursor: pointer;
    border-bottom: 1px solid #202C33;
}

.group-name-c {
  margin-left: 15px;
  position: absolute;
  top: 2px;
  display: inline-block;
  /* border-bottom: 1px solid #202C33; */
}

.group-element:hover {
    /* background-color: rgb(157 190 220); */
    /* background-color: rgb(193, 205, 216); */
    /* background-color: rgb(180 210 230); */
    background-color: #202C33;
    /* opacity: 0.8; */
}

.group-profile-image-c {
  width: 13%;
  height: 50px;
  margin-top: 10px;
  display: inline-block;
}

.group-profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.new-message-count {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  animation: popUpAnimation 0.3s ease-out forwards;
}

@keyframes popUpAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

#right {
  width: 70vw;
  height: 98vh;
  margin-left: 5%;
  position: fixed;
  right: 0;
}

#emojiPicker {
  position: absolute;
  bottom: 10vh;
  right: 45vw;
}

#messagesc {
    /* border: 2px solid violet; */
    width: 100%;
    height: 80%;
    overflow-y: auto;
    position: absolute;
    top: 10%;
    /* background-color: #e9e4df; */
    background-image: url('../images/chat_bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

#input-message-c {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    /* background-color: rgb(12, 63, 107); */
    background-color: #202C33;
    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
}

#input-message-c > input {
  background-color: #2A3942;
}

#sendmessage-form {
    width: 100%;
    height: 60%;
}

#message {
    width: 85%;
    height: 90%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    border-color: #2A3942;
    margin-right: 0.5rem;
    background-color: #2A3942;
    color: white;
}

#message:focus {
    outline: none;
}

#sendbtn {
    width: 5%;
    height: 90%;
    margin-left: 2px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: black;
}

#senbtn img {
  width: 30px;
  height: 30px;
  align-self: flex-start;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(128, 128, 128, 0.5); */
    background-color: rgba(8, 7, 7, 0.5);
    /* background-color: rgba(155, 144, 144, 0.5); */
}

#overlay1, #overlay2, #overlay3, #overlay4, #overlay-loader {
    display: none;
}

#attach-file-dialog {
  width: 30%;
  height: 30%;
  background-color: white;
}

.dialog-box {
    width: auto;
    height: auto;
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader-dialog {
  padding: 3rem;
  background-color: white;
}

#add-group-dialog {
  padding: 5rem;
  padding-top: 0;
  background-color: white;
}

#add-users-dialog {
    height: 300px;
    padding: 2rem;
    padding-top: 0;
    background-color: white;
    overflow: auto;
}

#user-profile-dialog {
  width: 50%;
  height: 50%;
  background-color: white;
  /* padding: ; */
}

.profile-item {
  background-color: rgb(236 228 228);
  margin: 1rem;
  padding: 1rem;
}

.overlay4-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.close-btn, .send-btn {
  background-color: grey;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

#active {
  width: 100%;
  height: 100%;
}

.send-btn {
  /* background-color: blue; */
  background-color: #7C8C95;
}

.dialog-title {
    padding: 10px;
    background-color: rgb(28, 85, 135);
    color: white;
}

.form-element,
.user {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

.form-element>label {
    width: 100%;
}

.form-element>input {
    width: 100%;
    height: 2rem;
    margin-top: 10px;
    padding: 1rem;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#add-group,
#cancel {
    padding: 10px;
    color: white;
    float: right;
    cursor: pointer;
}

#add-group {
    background-color: blue;
}

#cancel {
    background-color: red;
    margin-right: 10px;
}

#add-users-btn {
    width: 100%;
    color: white;
    margin-top: 10px;
    padding: 5px;
    background-color: green;
}

#add-users-dialog-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chat-container {
    display: flex;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

/* .chat-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-right: 10px solid antiquewhite;
    border-bottom: 10px solid transparent;
} */

.content {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.file-download-btn {
  font-size: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
  
  .message {
    display: inline-block;
    margin-bottom: 1px;
    background-color:rgb(45 104 157);
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  .sender {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .timestamp {
    font-size: 12px;
    text-align: center;
    /* color: #888888; */
  }
  
  .text {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .active {
    background-color: #2A3942;
  }

  #group-profile-title {
    margin: 0;
    margin-left: 10px;  
    padding-top: 20px;
  }

  #group-profile > hr {
    width: 99%;
    border: none;
    height: 1px;
    background-color: #2d3b43;
  }

  #participants-list {
    padding: 20px;
  }

  .user-element-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .user-element {
    position: relative;
    width: 40%;
    padding: 10px;
    color: white;
    display: inline-block;
    /* background-color: rgb(44, 83, 117); */
    background-color: #2A3942;
    border-radius: 10px;
  }

  .user-element button {
    position: absolute;
    right: 20%;
    top: 15%;
    padding: 5px;
    color: white;
    cursor: pointer;
  }

  #make-admin-btn {
    background-color: green;
  }

  #remove-user-btn {
    background-color: red;
  }

  /* dropdown */

  .dropdown {
    position: absolute;
    right: 1%;
    top: 15%;
    display: inline-block;
    background-color: #2A3942;
  }
  
  .dropdown-toggle {
    padding: 10px;
    /* background-color: #eee; */
    border: none;
    cursor: pointer;
    background-color: #2A3942;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
  }
  
  .dropdown-menu.show {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: black;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    /* background-color: #f9f9f9; */
    background-color: rgb(178, 186, 193);
  }

  #search-users {
    margin-left: 20px;
    margin-top: 20px;
    width: 40%;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    border-color: #2A3942;
    background-color: #2A3942;
    color: white;
  }

  #search-users:focus {
    outline: none;
  }

  .left-nav:hover {
    background-color: #2A3942;
    border-radius: 5px;
    color: white;
  }

  /* User Profile Dropdown */

  .profile-dropdown {
    position: absolute;
    top: 40%;
    right: 5%;
    position: absolute;
    margin-left: 1rem;
    color: white;
    cursor: pointer;
    display: inline-block;
  }
  
  .profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
    white-space: nowrap; /* Prevents the content from wrapping */
  }
  
  .profile-dropdown:hover .profile-dropdown-content {
    display: block;
    z-index: 10000;
  }
  
  .profile-dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
  }

  .profile-dropdown-item:hover {
    background-color: rgb(178, 186, 193);
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #dddddd;
  }

  .triangle-sender {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 15px solid #216666;
    border-radius: 10%;
    position: relative;
    left: -0.2rem;
  }

  .triangle-receiver {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 15px solid rgb(45 104 157);
    border-radius: 10%;
    position: relative;
    right: -0.2rem;
  }

  @media screen and (max-width: 1000px) {
    #left {
      width: 400px;
      position: absolute;
      left: 0;
    }

    #right {
      width: 800px;
      position: absolute;
      left: 400px;
      margin: 0;
    }

    #emojiPicker {
      left: 10px;
    }
  }